@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3.ttf");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/source-sans-3-italic.ttf");
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
}

:root {
  --main-col: #fff;
  --prim-col: #fb0;
  --text-col: #202020;
  --title-font: "League Spartan", Arial, sans-serif;
  --text-font: "Source Sans 3", Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-col);
  font-family: var(--text-font);
}

.glass {
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.3) inset,
    -3px -3px 20px rgba(255, 255, 255, 0.3) inset;
}

.flex-center {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  top: 10px;
  width: 100%;
  height: 80px;
  gap: 20%; /* Fix to be more responsive */

  .site-logo {
    text-decoration: none;
    gap: 20px;
    align-items: center;
    padding: 0 40px;

    img {
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    p {
      font-family: var(--title-font);
      font-weight: 700;
      font-size: 36px;
      margin-bottom: -5px; /* Maybe another solution */
    }
  }

  ul {
    list-style-type: none;
    height: 100%;
    gap: 40px;
    padding: 0 40px;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0);
      transition: color 0.2s, background-color 0.3s, border-color 0.3s;

      &:hover {
        text-shadow: none;
        color: var(--main-col);
        background-color: var(--prim-col);
        border-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

main {
  margin-top: 100px;

  section {
    padding: 70px 100px;
    gap: 50px;
    align-items: stretch;
  }

  .hero-section {
    background-color: var(--prim-col);

    & > * {
      flex: 0 1 500px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      border: 4px solid var(--main-col);
    }

    p {
      margin: 15px 0;
    }
  }

  .info-section {
    text-align: center;

    h2 {
      margin-bottom: 50px;
    }

    .item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .info-item {
        flex: 0 1 170px;

        img {
          width: 100%;
          border: 4px solid var(--prim-col);
          border-radius: 10px;
        }
      }
    }
  }

  .review-section {
    background-color: #fafafa;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1) inset,
      0 -5px 15px 0 rgba(0, 0, 0, 0.1) inset;
    gap: 10px;

    .review-container {
      flex: 0 1 800px;
      font-style: italic;

      :nth-child(2) {
        font-style: normal;
        font-weight: 600;
        text-align: end;
        margin: 0px 50px;
      }
    }
  }

  .projects-container {
    background-color: var(--prim-col);
    padding: 40px 100px;
    border-radius: 10px;
    align-items: center;
    gap: 70px;
    width: fit-content;
    margin: auto;

    .projects-text {
      display: flex;
      flex-direction: column;

      p {
        color: var(--main-col);
      }

      :first-child {
        font-weight: 700;
      }
    }
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}

p {
  font-size: 1.2rem;
}

footer {
  position: relative;
  background-color: var(--prim-col);
  padding: 35px;
  overflow: hidden;

  p {
    color: var(--main-col);
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}

footer::before {
  content: "";
  position: absolute;
  height: 1000%;
  inset: -350%;
  background-image: url("../img/jbj-logo.svg");
  background-repeat: repeat;
  background-size: 50px 50px;
  transform: rotate(25deg);
  transform-origin: center;
  opacity: 0.3;
  pointer-events: none;
}

.view-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: var(--prim-col);
  color: var(--main-col);
  font-weight: 600;
  border: 2px solid var(--main-col);
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

  &:hover {
    color: var(--prim-col);
    background-color: var(--main-col);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  }
}

.smile {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.5rem;
}
